<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Для записи голоса</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Для голосового поиска</string>
	<key>17</key>
	<string>17</string>
</dict>
</plist>
